<h1>Editing User</h1>


<%= form_for @user, method: 'PATCH' do |xx| %>
  <label> Name </label>
  <%= xx.text_field :name %>
  <label> Last Name </label>
  <%= xx.text_field :lastname %>
  <label> Address </label>
  <%= xx.text_field :address %>
  <label> Email </label>
  <%= xx.text_field :email %>
  <label> Password </label>
  <%= xx.text_field :password %>
  <label> Credir Card Number </label>
  <%= xx.text_field :creditcard %>
  <%= xx.submit "Create User" %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
