<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
  <strong>Address:</strong>
  <%= @user.address %>
  <strong>email:</strong>
  <%= @user.email %>
  <strong>Password:</strong>
  <%= @user.password %>
  <strong>credit card info:</strong>
  <%= @user.creditcard %>

</p>

<a href="/wishlists"> User Wishlist</a> 



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
