<p id="notice"><%= notice %></p>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Complete Bootstrap 4 Website Layout</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="style.css" rel="stylesheet">
</head>
<body>



<!-- Navigation -->
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/Logos/Fun-2331c2516b8781e6c36fec980ae7e06390d1fca892ce10f3dd750b6a7d4bed40.png" width="150"></a>

    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="btn btn-info" style="color:#ffffff" href="/categories">Explore</a>


        </li>
        <div>

          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        </div>


        <%=link_to"Search it", new_search_path%>

      </ul>
      <% if current_user.try(:admin?) %>
        <a class="btn btn-info" style="color:#ffffff" href="/admin">Administration</a>
      <% end %>

      <div>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

      </div>


      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="btn btn-info" style="color:#ffffff" href="/projects">Get Funded</a>

        </li>
        <div>

          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        </div>



        <% if user_signed_in? %>
          <li class="nav-item active">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" style="color:#ffffff" type="button" data-toggle="dropdown"> <%= current_user.name %>
                <span class="caret"></span></button>
              <ul class="dropdown-menu">

                <li><%= link_to "Profile", user_path(current_user), :style=> 'color:#ffffff;'%></li>
                <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :style=> 'color:#ffffff;'%></li>

              </ul>
            </div>






        <%else%>
          <a class="btn btn-info" style="color:#ffffff" href="/users/sign_in">Log in</a>


        <%end%>
        </li>

      </ul>

    </div>


  </div>
</nav>
<div>

  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

</div>
<div>

  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

</div>
<div class="container-fluid padding">

<div class="row padding">
 <div class="col-md-4">
  <div class="card">
   <%= image_tag @project.image.url(:medium)%>
   <div class="card-body">
    <h4 class="card-title">  <%= markdown ('#'+@project.title) %> </h4>
     <p class="card-text">by: <%= @project.user.name %> </p>
    <p class="card-text"> <%= @project.info %> </p>
     <td><%= link_to 'Edit', edit_project_path(@project) %></td>
     <td><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <div></div>
     <% @categories.each do |category| %>
       <td> <%="Category " +category.name %> </td>
       <td><%= link_to 'Show', category %></td>
       <div></div>
     <% end %>


   </div>
  </div>
 </div>
 <div class="col-md-4">
  <div class="card">
   <div class="progress">
     <div class="progress-bar" role="progressbar" style="width:     <%= 100*(@total)/(@project.goal) %>%
     " aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"><%= 100*(@total)/(@project.goal) %>%</div>
     </div>
    <div class="card-body">
     <h4 class="card-title"> GOAL: <%= @project.goal %> </h4>
     <p class="card-text"> Days to go: <%= @project.daystogo %> </p>
     <form>
      <div class="form-group">
      </div>
     </form>
      <%= link_to 'Fund it', new_fund_path(u_id: @current_user.id , f_id: @project.id  ) %>
    </div>
      <div></div>

    <%= link_to 'Add to wishlist', new_wishlist_path(uu_id: @current_user.id , w_id: @project.id  ) %>
  </div>
  </div>
 </div>
</div>
</div>
<div class="container-fluid padding">
<div class="row texct-center padding">
 <div class="col-xs-12">
  
 </div>
</div>
<hr class="my-4">
</div>


<div>

  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

</div>
<div>

  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

</div>
<div>

  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

</div>
<div>

  &nbsp; &nbsp; &nbsp; &nbsp;
</div>


<% @promises.each do |promise| %>



  <tbody>

  <tr>
    <div class="container-fluid padding">

      <div class="row padding">
        <div class="col-md-2">
          <div class="card">

            <div class="card-body">
              <%= image_tag promise.image.url(:medium)%>
              <h4 class="card-title">  <%= promise.title %> </h4>
              <p class="card-text"> <%= promise.info %> </p>
              <p class="card-text"> Price: <%= promise.price %> </p>
              <%= link_to 'BUY', new_fund_path(u_id: @current_user.id , f_id: @project.id , p_cost: promise.price ) %>
              <% if  promise.project_id == @project.id && @project.user == current_user %>

                <td><%= link_to 'Edit', edit_promise_path(promise) %></td>
                <td><%= link_to 'Destroy',promise, method: :delete, data: { confirm: 'Are you sure?' } %></td>

            <%end%>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>




  </tr>

  </tbody>



  <div></div>
<% end %>



<div></div>
<% if  @project.user == current_user %>

  <%= link_to 'New Promise', new_promise_path(p_id: @project.id) %>
<%end%>
<div></div>
<div></div>










