<h1>New Project Category</h1>

<%= @idd %>


<%=form_for @project_category, method: 'POST' do |xx| %>


  <p> <%= xx.hidden_field :project_id, :value => @idd%></p>
  <a class="btn btn-primary m-1"  role="button"><%= xx.submit  %></a>
  <%= xx.collection_select(:category_id ,Category.all, :id,:name, include_blank: true) %>

  </div>
<%end%>