<p id="notice"><%= notice %></p>


<p>

  <strong>Publisher:</strong>
  <%= @project_title %>
</p>

<a href="/"> Home</a> <a href="/projects"> Get Funded</a> <a href="/categories"> explore</a>
<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :style=> 'color:#6a6a6a;', :class => 'btn btn-primary m-1'%>
<%else%>
  <a href="/users/sign_in" class="btn btn-primary m-1"  role="button">Log in</a>
<%end%>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
