<h1>New Fund</h1>

<div class="container">
  <div class="jumbotron">
    <%=form_for @fund, method: 'POST' do |xx| %>
      <label for="cost1">Amount to fund</label>
      <div> <%= xx.text_field :cost  %></div>
      <p> <%= xx.hidden_field :user_id, :value => @uid%></p>
      <p> <%= xx.hidden_field :project_id, :value => @pid%></p>
      <a class="btn btn-primary m-1"  role="button"><%= xx.submit  %></a>
      </div>
    <%end%>
    
<%= render 'form', fund: @fund %>

<%= link_to 'Back', funds_path %>

<%= @uid %>
<%= @pid%>
