<p id="notice"><%= notice %></p>

<h1>Promises</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
<a href="/"> Home</a> <a href="/projects"> Get Funded</a> <a href="/categories"> explore</a>
<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :style=> 'color:#6a6a6a;', :class => 'btn btn-primary m-1'%>
<%else%>
  <a href="/users/sign_in" class="btn btn-primary m-1"  role="button">Log in</a>
<%end%>
  <tbody>
    <% @promises.each do |promise| %>
      <tr>
	<td><%= promise.title %></td>
        <td><%= link_to 'Show', promise %></td>
        <td><%= link_to 'Edit', edit_promise_path(promise) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promise', new_promise_path %>
